In [72]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [73]:
df = pd.read_csv('pre-processed.csv')

In [74]:
df['index'] = df.index

In [75]:
df.head()

,Title,Director,Genre,Cast,combined,index
0,102 dalmatians,kevin lima,comedy family,glenn close gérard depardieu alice evans,102 dalmatians kevin lima comedy family glenn...,0
1,28 days,betty thomas,drama,sandra bullock viggo mortensen,28 days betty thomas drama sandra bullock vig...,1
2,3 strikes,dj pooh,comedy,brian hooks n'bushe wright,3 strikes dj pooh comedy brian hooks n'bushe ...,2
3,the 6th day,roger spottiswoode,science fiction,arnold schwarzenegger robert duvall,the 6th day roger spottiswoode science fiction...,3
4,across the line,martin spottl,thriller,brad johnson adrienne barbeau brian bloom,across the line martin spottl thriller brad jo...,4

In [76]:
vectorizer = TfidfVectorizer()

In [77]:
feature_vectors = vectorizer.fit_transform(df.combined)

In [78]:
similarity = cosine_similarity(feature_vectors)

In [79]:
list_of_all_movie_titles = df.Title.to_list()

In [80]:
list_of_all_movie_titles.sort()

In [81]:
movie_name = input("Please enter movie name : ")

Please enter movie name : 2012

In [82]:
close_match_movies = difflib.get_close_matches(word=movie_name, possibilities=list_of_all_movie_titles, n=5, cutoff=0.5)
close_match_movies

['2012', '21', '12', '2:22']

In [83]:
close_match = close_match_movies[0]
close_match

'2012'

In [84]:
index_of_movie = df[df.Title == close_match].index.values[0]
print(index_of_movie)

2291

In [85]:
similarity_score = list(enumerate(similarity[index_of_movie]))

In [86]:
sorted_similarity_score = sorted(similarity_score, key = lambda x:x[1], reverse=True)

In [87]:
i = 1

for movie in sorted_similarity_score:
    index = movie[0]
    title_from_index = df[df.index==index]['Title'].values[0]
    if (i<30):
        print(title_from_index)
        i+=1
    else:
        break

2012
identity
doctor strange
infinite
triple 9
martian child
white house down
midway
salt
american gangster
10,000 bc
locked down
stonewall
biography
the day after tomorrow
anonymous
12 years a slave
gulliver's travels
griffin & phoenix
the patriot
the lovers
whipped
please give
martial arts
the whole ten yards
a lot like love
the x-files: i want to believe
isn't she great
in time